body {
	font-family: 'Montserrat', sans-serif;
	background-color: #464159;
	margin: 0;
}

.text-box {
	width: 75%;
	margin: 20px auto;
}

.text {
	color: #6c7b95;
	text-align: center;
	font-size: 14px;
	margin: 0;
	margin-bottom: 10px;
}

.text.title {
	font-size: 1.2em;
}
.text a {
	color: #6c7b95;
	text-decoration: none;
}

.text a:hover {
	color: #fafafa;
}

.box {
	width: 40%;
	margin: 30px auto 10px;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: 5px solid #464159;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 65px;
	height: 120px;
	color: #8bbabb;
}

#a1,
#a2,
#a3,
#b1,
#b2,
#b3 {
	border-right: 5px solid #8bbabb;
}

#a1,
#b1,
#c1,
#a2,
#b2,
#c2 {
	border-bottom: 5px solid #8bbabb;
}

.message {
	font-size: 2em;
	font-weight: 600;
	display: flex;
	justify-content: center;
}

.reset.message {
	font-size: 1em;
	background-color: #95c3c4;
	border: 2px solid #8bbabb;
	border-radius: 6px;
	margin: 0 auto;
	color: #464159;
	font-family: 'Montserrat';
	padding: 5px 20px;
	margin-bottom: 20px;
}

.reset.message:hover {
	background-color: #464159;
	color: #95c3c4;
}

.hidden {
	display: none;
}

.footer {
	background-color: #fafafa;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer-content {
	font-size: 12px;
	color: #464646;
	text-align: center;
	padding: 5px 0;
}

.footer-content a {
	color: #333;
	text-decoration: none;
}

.footer-content a:hover {
	color: #c9a16e;
}

.footer-content i {
	padding: 0 5px;
	font-style: normal;
}

@media screen and (max-width: 768px) {
	.box {
		width: 90vw;
	}
}
